:root{
  --white: #fff;
  --light: #EEEEEE;
  --dark: #383838;
  --darker: #191919;
}

.App {
  text-align: center;
  min-height: 100vh;
  --transition-delay: 1s;
  transition: var(--transition-delay);

}



header{
  background-color: var(--light);
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items:center ;
  
}

.header-group{
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  width: 1200px;

}

.header-group h3{
  font-size: 1rem;
}



.form-group{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


}

.input-search{
  width: 80%;
}

.icon{
  font-size: 2rem;
  margin: 0 2rem;
  cursor: pointer;
  animation: icon-animation 0.5s;
}


@keyframes icon-animation {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}


.body-content{
 width: 100%;
 padding: 1rem;
}

.notes{

  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 

}

.card{
  margin-top: 0.5rem;
  text-align: start;
  width: 100%;
  /* max-width: 1200px; */
}

.add-note-form{
 width: 100%;
 margin: 0 auto;
 padding: 0 1rem;
}


.form{
  text-align: start;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;

}

.btn-group{
  position: absolute;
  right: 1;
  
  padding: 1rem;
}

.delete-icon{
  cursor: pointer;
  font-size: 2rem;
}


/* dark mode */

.App.dark{
  background-color: #383838;
  color: var(--light);
}

.header.dark{
  background-color: var(--darker);
}

.card.dark{
  background-color: var(--dark);
  border-color: var(--light);
}






footer{
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  /* pointer-events: none; */
  /* background-color: aqua; */

}

.icon-content{
  /* background-color: #383838; */
  max-width: 1200px;
  margin: 0 auto;
  /* position: relative; */
  text-align: center;

}
.add-note{
  font-size: 4rem;
 /* position: absolute;
 right: 47%;
 top: -30px; */
 cursor: pointer;
}

.title-length{
  text-align: end;
}